$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '../node_modules/font-awesome/fonts/';
$rdash-font-path: 'components/rdash-ui/fonts/';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
@import 'components/rdash-ui/rdash';
